/dist/
/.vscode/
.DS_Store
/.idea/
/cypress/screenshots/
/cypress/videos/
/**/dist/
/relay/radata/
/relay/data/
/relay/data.json/
/.env.local
/**/node_modules/
frontend/node_modules
frontend/dist
frontend/.env.local
relay/.env
.env
